body {
    width: 100%;
}
#advertisecontainer{
    height: 100%;
}
.imagesec{
    border: 1px solid red;
    position: relative;
    height: 310px;
    width : 100%; 
}
.imagesec::before{
    content: '';
    background: url("/photos/advertise.png"); 
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.imagesec_content{
    color: white;
    text-align: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin: 0px auto 0px auto;
    line-height: 25px;
}
.imagesec_content h2{
     font-size: 28px;
     padding: 15px;
}
.imagesec_content button{
    background-color: #0092ed;
    padding: 10px;
    color: white;
    margin: 15px auto 0px auto;
    width: 20%;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: 25px;
    cursor: pointer;
}

/* -----------------advertise-content------------------- */
#advertisecontent{
    border: 1px solid darkred;
    width: 70%;
    height: 100%;
    margin: 20px auto 20px auto;
}
.advertisemain h2 {
    text-align: center;
    color: #FF2E00;
    font-size:34px;
    margin-bottom: 15px;
}
.about-advertise{
    display: flex;
    height: 450px;
    border: 1px solid red;
}
.about-advertise span{
    margin: auto;
}
.advertiseinfo{
    margin: auto 30px auto 30px;
}
.fa-user-friends{
    color: #FFA45E;
    font-size: 40px !important;

}
.advertiseinfo button{
    background-color: #0092ed;
    padding: 6px;
    color: white;
    /* margin: 5px auto 0px 180px; */
    width: 20%;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: 25px;
    cursor: pointer;
    align-items: center;
}

