*{
  margin:  0;
  padding: 0;  
}
/* --------------------sub-compare--------------- */
#sub-compare{
    padding: 50px 100px 50px 100px;
}
/* ----------------address-bar-------------- */
#address-bar h3{
    width: 100%;
    display: block;
    border: 1px solid red;
    margin: 5px;
}

/* ----------------------product-filter--------------- */
#product-filter{
 

}
.filter{
    border: 2px solid red;
    float: left;
    width: 300px;
    background: antiquewhite;
    /* height: 1400px; */
    padding: auto auto auto auto;
}
.filter-heading{
    border: 1px solid black;
    display: flex;

}
.filter-heading h2{
    font-size: 35px;
    font-family: system-ui;
    display: block;
    /* border: 1px solid; */
    margin-left: 6px;
    color: dimgray;
}
.filter-heading i{
    font-size: 30px;
    /* border: 1px solid; */
    padding-top: 16px;
    color: black;
}
.crt-top{   
    /* border: 1px solid blue; */
    margin-top: 13px;
} 
.criteria1 h2{
    /* border: 1px solid rgb(170, 0, 248); */
    font-size: 16px;
    font-weight: 600;
    /* background-color: #ec8b5e; */
    font-family: Montserrat;
    display: block;
    /* margin-left: 6px; */
    font-family: sans-serif;
    color: #191919;
    padding: 4px;
    background: -webkit-linear-gradient(left, #DF9F28, #FDE08D, #8f6B29);
}
.crt-sub{
    margin-top: 9px;
}
.crt-sub li{
    list-style: none;
}
.crt-sub ul{
    MAX-HEIGHT: 232PX;
    OVERFLOW: HIDDEN;
    OVERFLOW-Y: SCROLL;
    line-height: 21px;
}
.entry input{
    width: 90%;
    font-size: 15px;
    padding: 5px 12px;
    /* border-radius: 7.5px; */
    /* background-color: lightslategray; */
    /* border: 2px solid transparent; */
    /* border: 1px solid red; */
    box-shadow: 0 3px 15px -2px rgb(79 78 86 / 25%);
    -webkit-text-fill-color: black;
}
.range-slider{
    border: 1px solid red;
    width: 100%;
    background-color: white;
    height: 35px;
    border-radius: 7.5px;
}
.brand input{
    width: 60%;
    font-size: 14px;
    padding: 5px 7px;
    /* background-color: #4f4e56; */
    box-shadow: 0 3px 15px -2px rgb(79 78 86 / 25%);
    -webkit-text-fill-color: black;
}
.crt-sub label{
    font-size: 14px;
}


