*{
  margin:  0;
  padding: 0;  
}
/* --------------------sub-compare--------------- */
#sub-compare{
    padding: 50px 100px 50px 100px;
    display: flex;
}
/* ----------------address-bar-------------- */
#address-bar h3{
    width: 96%;
    display: block;
    border: 1px solid red;
    margin: 5px;
}

/* ----------------------product-filter--------------- */
#product-filter{
 

}
.filter{
    border: 1px solid black;
    float: left;
    width: 300px;
    background: antiquewhite;
    /* height: 1400px; */
    padding: 2PX;
}
.filter-heading{
    /* border: 1px solid black; */
    display: flex;

}
.filter-heading h2{
    font-size: 35px;
    font-family: system-ui;
    display: block;
    /* border: 1px solid; */
    margin-left: 6px;
    color: dimgray;
    text-shadow: 1px 1px black;
}
.filter-head{
    font-size: 35px;
    font-family: system-ui;
    display: block;
    /* border: 1px solid; */
    margin-left: 6px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    
}
.crt-top{   
    /* border: 1px solid blue; */
    margin-top: 13px;
} 
.criteria1 h2{
    /* border: 1px solid rgb(170, 0, 248); */
    font-size: 16px;
    font-weight: 600;
    /* background-color: #ec8b5e; */
    font-family: Montserrat;
    display: block;
    /* margin-left: 6px; */
    font-family: sans-serif;
    color: #191919;
    padding: 4px;
    background: -webkit-linear-gradient(left, #DF9F28, #FDE08D, #8f6B29);
}
.crt-sub{
    margin-top: 9px;
}
.crt-sub li{
    list-style: none;
}
.crt-sub ul{
    MAX-HEIGHT: 232PX;
    OVERFLOW: HIDDEN;
    OVERFLOW-Y: SCROLL;
    line-height: 21px;
}
.entry input{
    width: 90%;
    font-size: 15px;
    padding: 5px 12px;
    /* border-radius: 7.5px; */
    /* background-color: lightslategray; */
    /* border: 2px solid transparent; */
    /* border: 1px solid red; */
    box-shadow: 0 3px 15px -2px rgb(79 78 86 / 25%);
    -webkit-text-fill-color: black;
}
.range-slider{
    border: 1px solid red;
    width: 99%;
    background-color: white;
    height: 35px;
    border-radius: 7.5px;
}
.brand input{
    width: 60%;
    font-size: 14px;
    padding: 5px 7px;
    /* background-color: #4f4e56; */
    box-shadow: 0 3px 15px -2px rgb(79 78 86 / 25%);
    -webkit-text-fill-color: black;
}
.crt-sub label{
    font-size: 14px;
}


/* -----------------------product detail------------------- */
.product-detail{
    margin-left: 15px;
}
.mobile-detail{
    border: 1px solid red;
    /* height: 1200px; */
    width: 950px;
}







.mobphoto img{
    height: 190px;
}
.mobl{
    border: 1px solid black;
    display: flex;
    margin-top: 12px;
    /* background-color: rgb(234,238,245); */
    /* box-shadow: #191919; */
}
.mobspec{
    background-color: rgb(234,238,245);
}
.mobspec h2{
    margin-left: 26px;
}
.border{
    /* border: 1px solid blue; */
}
.mob-info{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
    width: 32rem;
    margin: auto 20px auto 20px;
    background-color: #F5F5F5;
    /* background-color: rgb(234,238,245); */
}
.mob-info-sub  {
    margin: 6px;
    padding: 5px;
    border: 1px solid red;
    /* padding: auto 20px auto 20px; */
}
.mob-info-sub ul{
    list-style: inside;
}
.mobprice{
    border: 1px solid red;
}
.button-compare {
    /* border: 1px solid yellow; */
    /* display: flex; */
    margin: 10px auto 0px auto;
    justify-content: center;
}
.elec-compare {
    border: 1px solid #f29202;
    width: 100px;
    padding: 5px;
    cursor: pointer;
    margin: 3px;
    text-align: center;
    background-color: #f29202;
}
.elec-compare:hover {
    color: #FFFDD0;
    background-color: #f29202;
}
.row-content li:hover .button-compare {
    /* display: flex; */
    visibility: visible;
}
.row-content li:hover {
    /* box-shadow: 0 0 25px 0 rgb(0 0 0 / 12%-); */
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
}
.mobprice{
    padding: 38px;
    /* background-color: #F5F5F5; */
    background-color: rgb(234,238,245);
}
.mobprice h2{
    font-size: 30px;
}

/* -------------------sort------------------- */
.sortsection{
    display: flex;
    /* border: 1px solid red; */
    border: 1px solid red;
    padding: 2px 7px 2px 7px;
    justify-content: space-between;
}
.sortsection h3{
    font-family: system-ui;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-size: 21px;
}
.sortby section{
    float: right;
    display: flex;
    margin-left: 7px;
}
.btn-grad h4{
    display: flex;
    cursor: pointer;
}
.sortby h3{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-size: 20px;
    
}
.btn-grad {background-image: linear-gradient(to right, #43C6AC 0%, #191654  51%, #43C6AC  100%)}
.btn-grad {
   margin: 6px;
   padding: 7px 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 7px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }





