#addressbar{
    /* width: 96%; */
    display: block;
    border: 1px solid red;
    margin: 5px;
}
/* -------------subcomapre-------------- */
#subcompare1{
    padding: 20px 175px;
}
#subcompare{   
    /* border: 1px solid red; */
    /* height: 700px; */
    /* width: 1150px; */
    display: flex;
    margin: auto; 
}

/* -----------------subcompare-photo----------- */

#product_specs {
    padding: 10px 20px;
}
.subcompare-photo{
    /* border: 1px solid blue; */
    width: 40%;
    padding: 20px 5px 20px 5px;  
    border-right: 1px solid black;
    border-top: 1px solid black;  
}
.product-image img{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}
.small-image-row{
    justify-content: space-between;
    display: flex;
}
.small-image-col{
    height: 165px;
    flex-basis: 30%;
    cursor: pointer;
    /* border: 1px solid red; */
    padding: 5px;
}
.small-image-col{
    margin-top: 20px;
}
.small-image-col img{
    height: 70%;
    width: 65%;
    border: 1px solid #333333;
    padding: 10px;
}
.product-image{
    height: 350px;
    width: 165px;
    margin: 0px auto;
}

/* -----------------subcompare-detail--------------------- */
.subcompare-detail{
    /* border: 1px solid blue; */
    width: 60%;

}
.details{
   padding: 10px;
}
.product-heading{
    /* border: 1px solid red; */
    font-size: 28px;
    font-weight: bolder;
    font-family: -webkit-pictograph;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

}
.detail-link{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
}
.detail-link button{
    cursor: pointer;
    font-size: 17px;
    padding: 10px;
    width: 135px;
    white-space: nowrap;
}
.product-variant{
    font-size: 21px;
    margin-top: 10px;
}   
.comparison table{
    text-align: center;
}
.comparison td{
    width: 17%;
}
.comparison button{
    BACKGROUND: BLUE;
    COLOR: WHITE;
    PADDING: 4PX 10PX 4PX 10PX;
    FONT-SIZE: 15PX;
    width: 120px;
}
.comparison th{
    font-size: 25px;
    font-family: sans-serif;
}
.comparison tr{
    /* margin-bottom: 25px; */
    height: 45px;
}
.keyfeatures{
    border: 1px solid red;
    margin-top: 15px;
    background: papayawhip;
    padding: 15px;
}
.keyfeatures table{
    width: 100%;
    /* border: 1px solid red; */
}
.keyfeatures tbody tr{
    border: 1px solid blue;
}
.keyfeatures tbody tr td{
    padding: 10px;
}
/* -------------------------subcompare1------------------------- */
.detail-spec{
    /* border: 1px solid red; */
    margin-top: 25px;
}
.detail-spec h2{
    font-family: sans-serif;
    font-size: 30px;
}
.detail-spec table{
    width: 100%;
    margin-top: 10px;
    /* border: 1px solid blue; */
}
.headtopic{
    font-size: 24px;
    font-weight: bold;
    background: #F2BC94;
    color: #30110d;
}
.headtopic td{
    border-style: none!important;
}
.subtopic{
    font-weight: 600;
    
}
.detail-spec td{
    padding: 4px 8px;
    /* border: 1px dotted black; */
    border-style: outset;
}
/* ----------------------review form------------- */
.reviewform section{
    display: flex;
}
.reviewform{
    border: 1px solid gray;
    padding:15px;
}
.review{
    display: flex;
    flex-direction: column;
}
#productreview h2{
    font-family: monospace;
    font-size: 27px;
}
#productreview{
    margin-top: 25px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.review textarea{
    height: 150px;
    width: 400px;
    margin-left: 10px;
    font-size: 17px;
}
.reviewfield input{
    width: 400px;
    height: 25px;
    margin-left: 10px;
}
.reviewfield{
    margin-top: 15px;
}
.fa-star{
    color: black;
}
.fas {
    font-size: 20px;
}
.star-widget input {
    display: none;
}
.star-widget label{
    font-size: 30px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,input:not(:checked) ~ label:hover ~ label{
color: #fd4;
}
input:checked ~ label{
color: #fd4;
}
input#rate-5:checked ~ label{
color: orange;
text-shadow: 0 0 10px rgb(241, 235, 229);
}
.reviewform form button{
    padding: 6px 16px;
    font-size: 20px;
    background-color: dodgerblue;
    color: white;
    margin-top: 20px;
}
.overallrating{
    border: 1px solid blue;
    padding: 20px;
}
.finalrating{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    line-height: 140px;
}
.ratings{
    display: flex!important;
}
.ratings h2{
    font-size: 70px !important;
}
.ratings h3{
    font-size: 50px;
    color: gray;
}
.breakdown{
    border: 1px solid blue;
    padding: 20px;
}
.break-rate{
  justify-content: space-between;
  width: 13rem;
  display: flex;
  align-items: center;
}
.break-rate h3 {
    font-size: 20px;
}
.break-rate i{
    font-size: 22px;
    color: orange;
    /* border: 1px solid red; */
    align-items: center;
    display: flex;
}
/* .break-rate progress{
    align-items: center;
    display: flex;
}  */
.ratingbreak{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    height: 100%;
}