*{
    margin: 0;
    padding: 0;
}
.mainadminmenu {
    display: flex;
    width: 100%;
}
body {
    background: #f3f3f9;
    /* width: 100vw; */
}


/* -----------------------------------Admincontainer------------------------------------------ */
.admininformation {
    display: flex;
    justify-content: space-between;
}
.admininformation .circlearea {
    /* border: 1px solid red; */
    display: grid;
    box-shadow: 0 0 35px 0 rgb(0 0 0 / 40%);
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    border-radius: 10px;
    padding: 20px;
}
.admincircle {
    display: flex;
}
.admincircle span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ---------------------------------------------------------------- */
/* -----------------------progressbar------------------------------ */
/* ---------------------------------------------------------------- */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.progressbar {
    width: 5.5rem;
    height: 5.5rem;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(0%, 0%);
    overflow: hidden;
}
.half-circle,
.half-circle-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform-origin: right center;
}
.half-circle:nth-child(1){
    background-color: darkblue;
}
.half-circle:nth-child(2){
    background-color: darkblue;
}
.half-circle-top {
    background-color: #fff;
}
.progressbar-circle {
    width: 4.7rem;
    height: 4.7rem;
    background-color: wheat;
    border-radius: 50%;
    color: black;
    font-size: 1.3em;
    z-index: 10;
    /* display: none; */
}
/* .progressbar:hover .half-circle:nth-child(1){
    transform: rotate(200deg);
    transition: transform 2s linear;
}
.progressbar:hover .half-circle:nth-child(2){
    transform: rotate(270deg);
    transition: transform 2s linear;
}
.progressbar:hover .half-circle-top{
    opacity: 0;
    transition: opacity 3s 2s;
} */
/* -----------------Activity-post------------------- */
.activitychart > h2 {
    font-size: 34px;
    font-family: monospace;
}
#adminactivity {

    display: flex;
    height: 480px;
}
.activitychart {
    margin-right: 30px;
    /* border: 1px solid red; */
    border-radius: 10px;
    color: #fff;
    width: 70%;
    box-shadow: 0 0 10px 0 #555;
    background-color: #85FFBD;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
/* background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */

    /* height: 400px; */
    padding: 20px;
}
.adminchart {
    padding-top: 30px;
}
.chart {
    /* width: 600px; */
    /* height: 300px; */
    display: block;
}
.numbers {
    color: #000000;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 300px;
    display: inline-block;
    float: left;
}
.numbers li {
    /* height: 150px; */
    /* bottom: 145px; */
    list-style: none;
    height: 140px;
    position: relative;
    bottom: 110px;
}
.numbers span {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    color: #fff;
    /* right: 10px; */
}
.bars {
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    /* background: #555; */
    margin: 0;
    /* padding: 0; */
    padding-top: 25px;
    display: inline-block;
    width: 90%;
    height: 300px;
    border-left: 1px solid #fff;
    border-bottom:  1px solid #fff;
    /* border-radius: 5px; */
}
.bars li {
    display: table-cell;
    width: 100px;
    height: 24em;
    position: relative;
}
.bars span {
    width: 100%;
    position: absolute;
    bottom: -35px;
    color: #fff;
    text-align: center;
}
.bars .bar {
    display: block;
    background: #17C0EB;
    width: 30px;
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(23, 192, 235, 0.5);
    transition-property: background, box-shadow;
}
.bars .bar:hover {
    background: #55efc4;
    box-shadow: 0 0 10px 0 rgba(85, 239, 196, 0.5);
    cursor: pointer;
}
.bars .bar:before {
    color: #fff;
    content: attr(data-percentage) '%';
    position: relative;
    bottom: 20px;
}


.signboard {
	width: 150px;
	height: 8px;
    display: inline-block;
    /* bottom: -120px; */
    left: 80%;
    top: -75px;
	position: relative;
	animation: swinging 1.5s ease-in-out infinite alternate;
    /* transform-origin: 80px 13px; */
}
.sign {
	width: 100%;
	height: 80px;
    top: 40px;
	/* height: 200px; */
	background: burlywood;
    box-shadow: 0 0 10px 0 #555;
	border-radius: 15px;
	position: absolute;
	bottom: 0;
	font-size: 24px;
	color: saddlebrown;
	font-family: serif;
	font-weight: bold;
	text-align: center;
	line-height: 80px;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.3),
				0 -2px 0 rgba(0, 0, 0, 0.7);
}

.strings {
	width: 45px;
	height: 45px;
	border: 5px solid brown;
	position: absolute;
	border-right: none;
	border-bottom: none;
	transform: rotate(45deg);
	top: 15px;
	left: 49px;
}

.pin {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
}

.pin.top {
	background: darkgray;
	left: 66px;
    bottom: -8px;
}

.pin.left,
.pin.right {
	background: brown;
	top: 35px;
	box-shadow: 0 2px 0 rgba(255, 255, 255, 0.3);
}

.pin.left {
	left: 100px;
}

.pin.right {
	right: 102px;
}

@keyframes swinging {
	from {
		transform: rotate(10deg);
	}

	to {
		transform: rotate(-10deg);
	}
}









/* -------------------------Target------------------------------- */
.target {
    /* border: 1px solid red; */
    width: 29%;
    border-radius: 10px;
    /* height: 440px; */
    box-shadow: 0 0 10px 0 #555;
    background-image: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%);
}
.target span {
    position: relative;
    z-index: 5;
    font-size:30px;
    font-weight: bold;
    display: block;
    bottom: 20px;
    bottom: 20px;
    /* margin-top: 30px; */
}
.admintarget{
    margin: auto;
}
.target-heading{
    /* border: 1px solid blue; */
    text-align: center;
    font-size: 24px;
    margin-top: 10px; 
    font-family: system-ui;
}
.target-progressbar{
    position: relative;
    margin: 4px;
    float:left;
    text-align: center;
}
.target-baroverflow{
        /* background: lightcoral; */
        position: relative;
        overflow: hidden;
        height: 13rem;
        width: 324px;
        /* border: 2px solid blue; */
        margin-bottom: -14px;
}
.target-bar{
    position: absolute;
    top: 70px;
    left: 28px;
    width: 267px;
    height: 267px;
    background-image: linear-gradient( 135deg, #FFA8A8 10%, #FCFF00 100%);;
    border-radius: 50%;
    box-sizing: border-box;
    border: 10px solid #eee;
    border-bottom-color: darkblue;
    border-right-color: darkblue;
  }
  /* ---------------------------------------------------------------------------
  ------------------------------Best-selling-Products------------------------
  --------------------------------------------------------------------------- */
#bspadmin {
    border-radius: 10px;
    /* border: 1px solid red; */
    /* height: 425px; */
    /* background:; */
    box-shadow: 0 0 10px 0 #555;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    /* background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%); */
    /* box-shadow: 0 0 25px 0 rgb(0 0 0 / 8%); */
}
.bsproducts {
    padding: 20px;
}
.bsproducts .elementbar::-moz-progress-bar {
     background: #00E0FF; 
    }
.bsproducts .elementbar::-webkit-progress-value {
     background: #00E0FF; 
    }
.bsproducts .elementbar{
    border: 1px solid red;
    color: red; 
    border-radius: 25px;
    overflow: hidden;
    width: 100px;
    height: 11PX;
}
.bsproducts section {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.bsproducts button {
    border-radius: 4px;
    box-shadow: 0 0 10px 0 #555; 
    border: 1px solid #555;
    margin: 4px;
    padding: 5px;
    background: whitesmoke;
    cursor: pointer;
    text-align: center;    
}
.bsproducts button:hover {
    background-color: orange;
    color: #fff;
}
.bsproducts h2{
    font-size: 34px;
    font-family: monospace;
}
.bsproducts table {
     border-collapse: collapse; 
}
.bsproducts  tbody tr{
    border-top: 1px solid #555;
    height: 20px;
    text-align: center;
}
.bsproducts tbody img {
    height: 50px;
    width: 50px;
    position: relative;
    /* margin: auto 5px auto 5px; */
    border-radius: 50%;
    top: 15px;
    right: 10px;
}
/* ---------------------------------------------------------------------------
  -----------------------------social-linkage------------------------
  --------------------------------------------------------------------------- */
#social-linkage {
    display: flex;
    justify-content: space-between;
    /* margin: 35px auto 35px auto; */

}
.social{
    /* border: 2px solid red; */
    height: 180px;
    width: 200px;
    /* margin-right: 38px; */
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 0 35px 0 rgb(0 0 0/ 40%);
}
.link{
    /* border: 2px solid red; */
    text-align: center;
    padding-bottom: 20px;
    position: relative;
    color: #fff;
    height: 40%;
}
.fb-link{
    background: #3b5998 ;
}
.tw-link{
    background: #1da1f2;
}
.go-link{
    background: #db4439;
}
.li-link{
    background: #007bb6; 
}
.in-link{
    background-image: linear-gradient( 135deg, #F6D242 10%, #FF52E5 100%);
}
.fa-facebook,.fa-linkedin-in,.fa-google-plus-g,.fa-twitter,.fa-instagram{
    font-size: 60px!important;
    padding: 15px;
}
.socialcount{
    display: flex;
    /* border: 2px solid red; */
    text-align: center;
    padding: 8px;
    position: relative;
    height: 40%;
}
.friends,.followers{    
    /* border: 2px solid blue; */
    width: 50%;
    /* height: 40%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.friends h3,.followers h3{
    font-size: 24px;
}
.followers h4,.friends h4{
    font-size: 18px;
    color: #990011ff;
}
