/* --------------------sidemenu------------------------------------- */

.adminnav {
    color: white;   
}
.adminmenu-list li a {
    text-decoration: none;
    color: #fff;
}
.adminmenu-list li{
    display: flex;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    white-space: nowrap;
}
.adminmenu-list li:hover{
    background-color: black;
}
.adminmenu-list span {
    display: block;
}
.formtext{
    font-size: 29px;
    font-family: math; 
    width: 80%;
    margin-left: 15px;
}
.menulogo{
    font-size: 32px !important;
    width: 20%;
    text-align: center;
}
.forms-arrow i{
    display: block;
    font-size: 27px !important;
    margin-right: 5px;
    margin-top: 5px;
}
/* -----------------------adminnav-------------------------- */
.admincontrol {
    padding: 0px 30px 0px 30px;
 }
.adminnav{
     width: 20%;
     /* height: 100vh; */
     background: #0b132b;
     /* border: 1px solid blue; */
     background-image: linear-gradient(to right, #434343 0%, black 100%);

}
.brandlogo{
      /* border: 1px solid blue; */
      padding: 5px 10px 5px 10px;
      display: flex;
}
.brandadmin{
       /* border:  1px solid red; */
       margin:  auto;
       display: flex;
}
.brandlogo h2{
    display: block;
    /* border: 1px solid red; */
    font-size: 35px;
    text-align: center;
    color: white;
    padding-top: 28px;
    padding-left: 20px;
}
.adminblock {
    margin: 35px 0px 35px 0px;
}
/* #adminwelcome{
    padding: 35px 0px 35px 0px;
} */
.adminwelcome {
    /* border: 1px solid red; */
    display: flex;
    padding: 10px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 35px 0 rgb(0 0 0 / 40%);
    /* background: burlywood; */
    background-image: linear-gradient( 
        135deg
        , #FDD819 10%, #E80505 100%);
}
.adminwelcome > section > h2{
    color: blue;
}
.adminwelcome > section > p{
    color: white;
    font-weight: 400;
}
.adminwelcome img{
    height: 200px;
    width: 300px;
}
.adminwelcome > section {
    margin: 30px;
    letter-spacing: 0.5px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



    /* -----------------------admin-control------------------ */


.admincontrol {
    /* border: 1px solid blue; */
    width: 80%;
}
.adminhead {
    /* border: 1px solid red; */
    display: flex;
    /* height: 70px; */
}
.fal {
    font-size: 30px !important;
}
.adminhead section {
    width: 50%;
    /* border: 1px solxid gold; */
    margin: auto 30px auto 15px;
}
.adminhead input {
    font-size: 20px;
    padding: 6px;
    width: 100%;
    outline: none;
}
.adminsetting {
    padding: auto;
    display: flex;
    justify-content: flex-end; 
}
.adminsetting > .accset{
    margin-right: 15px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}     
.adminimg img {
    height: 100%;
    width: 100%;
}
.adminimg {
    /* border: 1px solid red; */
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
#adminwelcome {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fa-cog { 
        animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}